@font-face {
    font-family: 'Lato';
    src: url('./assets/Lato-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/Lato-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

h1,
h2,
h3,
h4,
ul,
li,
p,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 18px;
}

article,
footer,
header,
main,
nav,
section {
    display: block;
}

ul {
    display: flex;
    list-style: none;
}



.container {
    max-width: 1020px;
    display: flex;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    flex-direction: column;
}

.portfolio {
    background: #2d303a;
    border-bottom: 7px solid#323746;
}

.portfolio .container {
    padding: 0 30px;
    
}

.portfolio-text {
    margin: 1px 10px;
}

.section-heading {
    color:#666d89;
    font-size: 30px;
    font-weight: 900;
    margin: 59px auto 18px;
    letter-spacing: -0.007rem;
}

.section-text {
    color:#767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.portfolio-navigation {
    margin: 8px auto 11px;
}

.portfolio-navigation_item {
    text-decoration: none;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 3px 6px;
    margin-right: 10px;
}

.portfolio-navigation_item:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    max-height: 621px;
    overflow: hidden;
    margin-bottom: 56px;
}

.portfolio-gallery_item  {
    margin: 10px;
}
.portfolio-gallery_item img {
    display: block;
}

.about-us {
    background: #f2f2f2;
    border-bottom: 7px solid#ffffff;
}

.about-us .container {
    padding: 0 30px;
    
}

.about-us_text {
    margin: auto 10px;
}

.about-us_list {
    margin: 35px 0 53px;
}

.about-us_item {
    margin: 10px;
}

.about-us_item>img {
    margin-bottom: 13px;
}

.about-us_item h4 {
    color: #666d89;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    margin-bottom: 8px;
    letter-spacing: -0.01rem;
}

.about-us_item p {
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.about-us_social-media {
    margin-top: 26px;
}
.about-us_social-media li {
    margin-right: 8px;
}

.about-us_social-media a {
    display: block;
}

.about-us_social-media img {
    border: 0;
}
